In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("2023/C_R3.csv")

In [3]:
df.head()

,Allotted Institute R3,Course R3,Allotted Quota R3,Alloted Category R3,Rank
0,"AB\nShetty Memorial Inst. of Dental Sce., Mang...",BDS,Deemed/ Paid Seats Quota,Open,863428.0
1,"ACS\nMedical College and Hospital, Chennai, Pe...",MBBS,Deemed/ Paid Seats Quota,Open,1218878.0
2,"ACS\nMedical College and Hospital, Chennai, Pe...",MBBS,Non- Resident Indian,Open,739835.0
3,"ACSR\nGovt Medical College, Nellore,O PP TO AC...",MBBS,All India,EWS,22772.0
4,"ACSR\nGovt Medical College, Nellore,O PP TO AC...",MBBS,All India,OBC,20987.0

In [4]:
df_filtered = df[(df['Course R3'] == 'MBBS') & (df['Alloted Category R3'] == 'Open') & (df['Allotted Quota R3'].isin(['All India', 'Open Seat Quota']))]

In [5]:
df_filtered = df_filtered.sort_values('Rank')

In [6]:
df_filtered.to_csv('my_list_3.csv')